.slider 
	overflow: hidden
.slider__figure
	position: relative
    display: flex
    flex-direction: row
	width: 400%
	margin: 0
	left: 0
	animation: 20s slider infinite

.img__slider
	width: 25%
	float: left

@keyframes slider 
	10%
		left: 0 
	20% 
		left: -102%

	50% 
		left: -102%
	75% 
		left: -203%

	100% 
		left: -203%
	

