.flex__container__ubicaciones
    display: flex
    flex-direction: row
.container__image__ubicaciones
   margin: 0
   padding: 0
   box-sizing: content-box !important
.image__ubicaciones
    max-width: 50%
.text__ubicaciones
    display: inline
    position: relative
    color: #fff
    float: left




