html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  background-color: black;
}

.espaciado {
  padding-top: 70px;
}

.navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(blue), to(red));
  background-image: linear-gradient(blue, red);
  width: 100%;
  height: 70px;
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 25%;
  z-index: 10;
}

.logo {
  display: inline-block;
  margin-top: 20px;
}

.logo__navbar {
  margin-top: 50px !important;
  padding-left: 50px;
  text-align: center;
}

.texto__logo {
  font-family: "Ubuntu", sans-serif;
  color: white;
}

.nav__menu {
  float: right;
  margin-top: 20px;
  margin-right: 100px;
}

.nav__menu__item {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  font-family: "Nanum Gothic", sans-serif;
  font-size: 2rem;
  color: white;
}

.nav__menu__item:hover, .nav__menu__item:active {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.menu__barras {
  display: none;
  float: right;
  margin: 10px 20px;
}

.nav__menu__item--close {
  display: none;
}

.slider {
  overflow: hidden;
}

.slider__figure {
  position: relative;
  position-display: flex;
  position-flex-direction: row;
  width: 400%;
  margin: 0;
  left: 0;
  -webkit-animation: 20s slider infinite;
          animation: 20s slider infinite;
}

.arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  margin-bottom: 80px;
  -webkit-animation: arrow__move 3s infinite;
          animation: arrow__move 3s infinite;
}

.arrow__color {
  color: white;
  font-size: 800%;
}

.img__slider {
  width: 25%;
  float: left;
}

.main {
  height: 100%;
}

.title {
  color: white;
  font-family: "Dosis", sans-serif;
  text-align: center;
  font-size: 3rem;
  border-bottom: 1px solid white;
}

.descripcion {
  color: white;
  font-family: "Ubuntu", sans-serif;
  font-size: 2em;
  text-align: justify;
}

.container {
  padding: 2rem;
  margin: 1rem;
}

.flex__container__ubicaciones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 70px;
}

.titulo__ubicacion {
  border-top-left-radius: 50%;
  border-top-right-radius: 25%;
  border-bottom-left-radius: 75%;
  border-bottom-right-radius: 100%;
  background-image: radial-gradient(circle, red, blue);
  font-size: 3rem;
  text-align: center;
  font-family: "Dosis", sans-serif;
  color: white;
  margin-bottom: 50px;
}

.image__ubicaciones {
  max-width: 60%;
}

.text__ubicaciones {
  margin-left: 30px;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  display: inline;
  position: relative;
  color: #fff !important;
  font-family: "Ubuntu", sans-serif;
  font-size: 2rem;
  text-align: justify;
}

.flex__container {
  width: 90vw;
  margin: 40px 5vw;
  padding: 40px 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card {
  background-image: radial-gradient(circle, rgba(255, 255, 255, 0.6), blue);
  background-repeat: no-repeat;
  width: 350px;
  border-radius: 5%;
  -webkit-box-shadow: 10px 10px 5px 5px rgba(128, 128, 128, 0.5);
          box-shadow: 10px 10px 5px 5px rgba(128, 128, 128, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.card:first-child {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

.card:nth-child(2) {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.card:nth-child(3) {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

.card:nth-child(4) {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.card:nth-child(5) {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

.card__footer {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  justify-items: start;
  width: 100%;
  text-align: center;
  border-top: 2px solid #000;
}

.card__text {
  color: white;
  font-family: "Ubuntu", sans-serif;
  font-size: 1rem;
  text-align: justify;
  padding: 30px;
}

.title__card {
  color: white;
  font-family: "Dosis", sans-serif;
  text-align: center;
  font-size: 3rem;
}

.img__container__card {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.img__card {
  margin-top: 20px;
  max-width: 70%;
}

@-webkit-keyframes arrow__move {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-20%);
            transform: translateY(-20%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes arrow__move {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-20%);
            transform: translateY(-20%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes slider {
  10% {
    left: 0;
  }
  20% {
    left: -102%;
  }
  50% {
    left: -102%;
  }
  75% {
    left: -203%;
  }
  100% {
    left: -203%;
  }
}

@keyframes slider {
  10% {
    left: 0;
  }
  20% {
    left: -102%;
  }
  50% {
    left: -102%;
  }
  75% {
    left: -203%;
  }
  100% {
    left: -203%;
  }
}

@-webkit-keyframes up_down_buttons {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-20%);
            transform: translateY(-20%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes up_down_buttons {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-20%);
            transform: translateY(-20%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@media screen and (max-width: 1230px) {
  .menu__barras {
    display: block;
    cursor: pointer;
  }
  .nav__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: -webkit-gradient(linear, left top, left bottom, from(blue), to(skyblue));
    background-image: linear-gradient(blue, skyblue);
    right: -100%;
    text-align: center;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .nav__menu__item {
    border-bottom: 4px solid #000;
    margin: 30px 0;
    background-color: rgba(0, 0, 0, 0.3);
    font-size: 3rem;
    border-radius: 40%;
    -webkit-animation: up_down_buttons 2s  infinite ease;
            animation: up_down_buttons 2s  infinite ease;
  }
  .nav__menu__item--close {
    display: inline-block;
    background-color: black;
    border-radius: 100%;
    position: absolute;
    top: 0;
    float: right;
    right: 0;
    margin: 20px 20px;
    padding: 5px 10px;
    font-family: "Nanum Gothic", sans-serif;
    font-size: 1.5rem;
    color: white;
    list-style: none;
    cursor: pointer;
  }
  .nav__menu__item--close:active {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  .show {
    right: 0;
  }
  .title {
    font-size: 2rem;
  }
  .descripcion {
    font-size: 1.5rem;
  }
  .container {
    padding: 1.5rem;
    margin: .5rem;
  }
  .descripcion__tienda {
    font-size: 1.5em;
  }
  .arrow {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .flex__container__ubicaciones {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .image__ubicaciones {
    max-width: 100%;
  }
  .titulo__ubicacion {
    font-size: 2rem;
  }
  .text__ubicaciones {
    font-size: 1.2rem;
    margin-top: 50px;
    margin-left: 0;
  }
  .card {
    -ms-grid-column-align: center  !important;
        justify-self: center  !important;
    -ms-flex-item-align: center !important;
        -ms-grid-row-align: center !important;
        align-self: center !important;
    margin-bottom: 50px;
  }
}
/*# sourceMappingURL=index.css.map */